---
extends: default
rules:
  line-length:
    max: 195
    level: warning
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  indentation:
    spaces: 2
  comments: disable
  comments-indentation: disable
  truthy: disable

ignore: |
  tests/
  molecule/
  .molecule/
  .travis.yml
  .tox/
  .github/
  k0s_example.yaml
  templates/k0s/k0s_1.25.2.yml
