#jinja2: trim_blocks: True, lstrip_blocks: True
#!/usr/bin/env bash
# {{ ansible_managed }}
cat <<EOF
{
  "version": "{{ k0s_version }}"{% if (ansible_hostname in k0s_cluster_nodes.initial_controller or
                                       ansible_fqdn in k0s_cluster_nodes.initial_controller) and
                                      (__stat_controller_k0s_conf.stat.checksum is defined and
                                       __stat_controller_k0s_conf.stat.checksum | string | length > 0) %},
  "config_checksum": "{{ __stat_controller_k0s_conf.stat.checksum }}"
{% endif %}
}
EOF
