---
kind: ConfigMap
apiVersion: v1
metadata:
  labels:
    app: kube-proxy
  name: kube-proxy
  namespace: kube-system
data:
  config.conf: |-
    apiVersion: kubeproxy.config.k8s.io/v1alpha1
    kind: KubeProxyConfiguration
    bindAddress: 0.0.0.0
    healthzBindAddress: 0.0.0.0:10256
    metricsBindAddress: 127.0.0.1:10249
    clientConnection:
      acceptContentTypes: ""
      burst: 10
      contentType: application/vnd.kubernetes.protobuf
      # kubeconfig: /var/lib/kube-proxy/kubeconfig.conf
      kubeconfig: {{ k0s_data_dir }}/pki/admin.conf
      qps: 5
    clusterCIDR: {{ k0s_network.pod.network_cidr }}
    configSyncPeriod: 10m0s
    conntrack:
      maxPerCore: 32768
      min: 131072
      tcpCloseWaitTimeout: 1h0m0s
      tcpEstablishedTimeout: 24h0m0s
    enableProfiling: false
    iptables:
      masqueradeAll: false
      masqueradeBit: 14
      minSyncPeriod: 0s
      syncPeriod: 30s
    ipvs:
      minSyncPeriod: 0s
      scheduler: {{ k0s_addons['kubeproxy'].ipvs_scheduler | default('rr') }}
      syncPeriod: 30s
    mode: {{ k0s_addons['kubeproxy'].mode | default('iptables') }}
    featureGates:
      SupportIPVSProxyMode: true
    oomScoreAdj: -998
    resourceContainer: /kube-proxy
    udpIdleTimeout: 250ms

  kubeconfig.conf: |-
    apiVersion: v1
    kind: Config
    clusters:
    - cluster:
        certificate-authority: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        server: {{ k0s_network.lb.api_url }}
      name: default
    contexts:
    - context:
        cluster: default
        namespace: default
        user: default
      name: default
    current-context: default
    users:
    - name: default
      user:
        tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token

